<style>
    .pageBanner{width:100%;min-height:1rem}
       .pageBanner .img{width:100%;height:5rem}
</style>

<div class="pageBanner"><img class="img" src="http://img.haibuo.com/UpLoadImgs/a6f653214f17496882098f84c64413c1.jpg" /></div>
