@{
    ViewBag.Title = "八字详批";
}
<style>
    .teacherMess{text-align:center}
     .teacherMess .teacherImg{width:3rem;height:3rem}

</style>
@Html.Partial("_PartialBanner")

<!--老师信息Begin-->
<div class="flex-box teacherMess">
    <div class="flex-box flex-wrap flex-cont">
        <img class="teacherImg" src="~/Content/images/首页_太阳_时间提醒.png" />
        <div>黄大爷</div>
    </div>
    <div class="flex-box flex-wrap flex-cont">
        <div>老师资料介绍</div>
        <div>展示老师头像、姓名、简介；
            • 暂由开发上传，后期可搭建管理后台；
            • 没配置内容则隐藏，下方元素上移</div>
    </div>
</div>
<!--老师信息end-->


