@{
    ViewBag.Title = "八字详批";
    ViewBag.BannerImg = BigMasterApp.App_Start.AppHelper.GetImgServiceRoot() + "images/eightGoodWordBanner.jpg";
}
<style>
     .customerMess{border:1px solid #cccccc;border-radius:0.12rem;margin-top:0.5rem;padding:0.32rem 0.52666rem}
     .customerMess .item{color:#5b0100;border-bottom:1px solid #ad5d57;line-height:1.2rem}
     .submitBtn{line-height:0.9rem;width:100%;background-color:#e3453d;border-radius:1rem;}
     .customerMess .costomerInput{line-height:0.7rem;width:95%; background-color:transparent}
     
      .moreMess{background-color:#f5f2e6;min-height:2rem;text-align:center;padding-top:0.1rem !important; padding-bottom:1rem !important}
     .colMap{height:1.43rem;align-self:center;line-height:1.43rem;color:#81514a; background:url(..//Content/images/eightCon.png);background-size:100% 100%}
      .moreMess .MM-content .MM-item div{width:1rem ;height:3.65rem}
     .moreMess .conText{width:0.5rem; margin:0 auto;position:relative;top:1.3rem}
</style>
@Html.Partial("_PartialHead")
@Html.Partial("_PartialBanner")
<div class="eightGoodWordContent">
    <div class="userMess pd20x10">
        <!--老师信息Begin-->
        <div class="flex-box teacherMess pd20x10 mr5  ">
            <div class=" flex-wrap flex-cont ag-self name-Img">
                <div><img class="teacherImg" src="http://thirdwx.qlogo.cn/mmopen/383icd6wkx4TECUBUCjDtB7IQpIuVJ0DTcSRb0s8vK08ibGgXqC2uprC58cYWXwQM27pibFKvpohIllQyVQmnmgdAa3xZdWjtgJ/132" /></div>
                <div  class="rem20 teacherName">马铭游</div>
            </div>
            <div class="flex-wrap flex-cont ag-self">
                <div  class="tal teacherDescFont rem18">
                    马铭游大师简介:
                    马铭游大师出生周易世家，从小耳濡目染，生活于此马铭游大师极具天分，并拥有20年的命理测算经验，擅长结合，现代大数据及云计算进行分析，也是华南地区十佳国学老师之一，享誉国际
                </div>
            </div>
        </div>
        <!--老师信息end-->
        <div class="customerMess  mt15 mb10">
            <div class="item flex-box">
                <div class="rem20  flex-cont tal ag-self teacherDescFont" style="width:25%" >姓名：</div>
                <div class="rem16  flex-cont"><input class="rem18 pd5x10 mb3 costomerInput" id="name" value="" placeholder="请填写您的姓名" /></div>
            </div>
            <div class="item flex-box">
                <div class="rem20  flex-cont tal ag-self teacherDescFont" style="width:25%">性别：</div>
                <div class="rem16  flex-cont tal ">
                    <input type="radio" class="mr5" checked="checked" name="sex" style="margin-left:0.5rem" value="man" />男
                    <input type="radio" class="mr5 " style="margin-left:0.5rem" name="sex" value="women" />女
                </div>
            </div>
            <div class="item flex-box" >
                <div class="rem20  flex-cont tal ag-self teacherDescFont" style="width:25%" >生日：</div>
                <div class="flex-cont"><input class="rem16 pd5x10 mb3 costomerInput" value="" id="manDate" type="text" data-toid-date="date" data-toid-hour="hour" name="input_date" data-hour="2" readonly="readonly" placeholder="请选择出生日期" />
                    <input type="hidden" id="date" name="date">
                    <input type="hidden" id="hour" name="hour"></div>
            </div>
        </div>
        <div class="tac  mb5">
            <div class="rem15 mt15 mb10 tal">已经有1258人查看2018年八字详批</div>
            <button class="rem16 submitBtn tac mb10 c-fff" onclick="submitData()">立即预测</button>
        </div>

    </div>
    <div class="moreMess mb10 pd12 pd0x5">
        <div class="tac rem16 mb13 mt15 colMap">测算后你将了解以下信息</div>
        <div class="flex-box MM-content">
            <div class="flex-cont ag-self MM-item "><div class="yellowBox rem14 tac ag-self"><span class="conText c-fff">爱情</span></div></div>
            <div class="flex-cont ag-self MM-item c-fff "><div class=" redBox rem14  tac ag-self"><span class="conText">事业</span></div></div>
            <div class="flex-cont ag-self MM-item c-fff"><div class="yellowBox rem14 tac  ag-self"><span class="conText">财运</span></div></div>
            <div class="flex-cont ag-self MM-item c-fff"><div class="redBox rem14  tac  ag-self"><span class="conText">健康</span></div></div>
        </div>
    </div>
    <div class="forecastFun pd0x5">
        <div class="tac rem16 mb13 mt15 colMap">测算内容对你有什么帮助</div>
        <div class="flex-box item mb20">
            <div class="flex-cont mr10 ">
                <div class="rem18 mb5 tac top">精准测断姻缘</div>
                <div class="rem15 c-fff FFcontent">适合什么样的职业？是否适合创业？什么的工作更容易成功？</div>
                <img class="fun-img" src="~/Content/images/eightword1.png" />
            </div>
            <div class="flex-cont">
                <div class="rem18 mb5 top tac">事业</div>
                <div class="rem15 c-fff FFcontent">适合什么样的职业？是否适合创业？什么的工作更容易成功？</div>
                <img class="fun-img" src="~/Content/images/eightword4.png" />
            </div>
           

        </div>
        <div class="flex-box item mt15">
            <div class="flex-cont mr10 ">
                <div class="rem18 mb5 top tac">健康</div>
                <div class="rem15 c-fff FFcontent">平日饮食健康该注重什么？随着年龄增长该注意身体哪些疾病？</div>
                <img class="fun-img" src="~/Content/images/eightword3.png" />
            </div>
            <div class="flex-cont">
                <div class="rem18 mb5 tac top">财运</div>
                <div class="rem15 c-fff FFcontent">一生财运分析，了解你的先天财富，适合做什么项目投资，自己个人赚钱能力</div>
                <img class="fun-img" src="~/Content/images/eightword2.png" />
            </div>
        </div>

    </div>

</div>
@section scripts{
    <script type="text/javascript">
        $(".emI i").bind("click", function () {
            $(this).addClass("check_on");
            $(this).siblings().removeClass("check_on");
        });

        $(document).ready(function () {
            var date = new ruiDatepicker().init('#manDate');
        })
        function submitData() {
            var query = {
                UserName: $.trim($("#name").val()),
                IsMan: $('input[name="sex"]:checked').val() == 'man' ? true : false,
                BirthDay: chooseGongliTime
            };
            if (!query.UserName) {
                layer.msg('名字不能为空！'); return;
            }
            if (!query.BirthDay) {
                layer.msg('出生日期不能为空！'); return;
            }
            var data = query.BirthDay.replace("年", "-").replace("月", "-").replace("日","").replace("时", ":00");
           window.location.href = '@Url.Content("~/PayFile/EightGoodWordPay")';
        }
    </script>
}



