@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "个人中心";
}
@section Styles{
    <style type="text/css">
        .top-head-bar{padding:0.266rem}
        .top-head-bar-ico {width:1rem !important}
        .top-head-bar .top-head-bar-text{align-self:center}
        .mineContent{min-height:90vh; background:url(..//Content/images/mineBack.jpg);background-size:100% 100%}
        .mineContent .inputContent{width:90%;margin:0 auto;padding-top:0.3rem;}
        .mineContent .inputContent .divImg{width:40%}
        .mineContent .inputContent img{width:80%;border-radius:50%}
        .mineContent .contentItem{margin-top:0.3rem}
         .mineContent .contentItem .iconItembox{line-height:1rem;margin:0.3rem 0rem}
         .mineContent .contentItem .iconItem{width:28%;align-self:center}
         .ItemContent{border-bottom:1px solid #d7d2cf}
         .mineContent .foot{width:80%;margin:0 auto;margin-top:2rem}
          .mineContent .foot button{height:1rem;width:100%; border-radius:0.12rem; line-height:1rem;background-color:#e3453d}
          .marginDiv{height:0.27rem;background-color:#f0f0f0}
          .offerIdea{display:block;margin:auto;width:0.78rem;height:0.78rem; background:url(..//Content/images/offerIdear.png);background-size:100% 100%}
          .lefticon{border-bottom:1px solid #d7d2cf;width:1.7rem !important}
    </style>
    }
<div class="flex-box  top-head-bar" style="background-color:#e3453d">
    <div class="top-head-bar-ico tal" ><i class="icon iconfont icon-arrow-left" style="display:none"></i></div>
    <div class="flex-cont rem18 c-fff top-head-bar-text">@ViewBag.Title</div>
    <div class="top-head-bar-ico tal"><i class="icon iconfont icon-arrow-left" style="display:none"></i></div>
</div>
<div class="mineContent">
    <div class="flex-box inputContent rem18 mb20 " onclick="window.location.href='EditUserMessage'">
        <div class="flex-cont tac divImg"><img  src="http://thirdwx.qlogo.cn/mmopen/383icd6wkx4TECUBUCjDtB7IQpIuVJ0DTcSRb0s8vK08ibGgXqC2uprC58cYWXwQM27pibFKvpohIllQyVQmnmgdAa3xZdWjtgJ/132"/></div>
        <div class=" flex-cont tac pd0x10 mt20"><div class="tal rem16">马季奇</div></div>
        <div class="flex-cont top-head-bar-ico tar ag-self"><i class="icon iconfont icon-right gray8"></i></div>
    </div>
    <div class="marginDiv" ></div>
    <div class="contentItem mb20">
        <div class="flex-box iconItembox" onclick="window.location.href='OrderList'">
            <div class="flex-cont iconItem"><i class="icon iconfont icon-wode"></i></div>
            <div class="flex-cont ItemContent tal gray8 rem18">我的测算</div>
            <div class="flex-cont tal ag-self lefticon "><i class="icon iconfont icon-right gray8"></i></div>
        </div>
        <div class="flex-box iconItembox">
            <div class="flex-cont iconItem"><i class="icon fadeRed iconfont icon-shezhi-zhanghuanquan rem26" ></i></div>
            <div class="flex-cont ItemContent rem18 gray8 tal">安全设计</div>
            <div class="flex-cont tal ag-self lefticon"><i class="icon iconfont icon-right gray8"></i></div>
        </div>
        <div class="flex-box iconItembox">
            <div class="flex-cont iconItem"><i class="offerIdea"></i></div>
            <div class="flex-cont ItemContent rem18 gray8 tal">意见反馈</div>
            <div class="flex-cont tal ag-self lefticon"><i class="icon iconfont icon-right gray8"></i></div>
        </div>
    </div>
    <div class="marginDiv"></div>
    <div class="foot">
        <button class="tac rem18 c-fff" onclick="window.location.href='Login'">退出登入</button>
    </div>
</div>
@Html.Partial("_PartialBottom")




