@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我的测算列表";
}
@Html.Partial("_PartialHead")
@section Styles{
    <style type="text/css">
        .orderListContent{min-height:90vh; background:url(..//Content/images/mineBack.jpg);background-size:100% 100%}
        li{line-height:0.8rem;margin:0.2rem 0rem !important; border-bottom:1px solid #d7d2cf !important}
    </style>
    }
<div class="orderListContent pd10x20">
    <ul class="gray rem16">
        <li class="flex-box">
            <div class="flex-cont tal">
                <div>宝宝取名</div>
                <div>订单号：156483</div>
            </div>
            <div class="flex-cont tar">
                <div>已支付</div>
                <div>2018-06-22:10:322</div>
            </div>
        </li>
        <li class="flex-box">
            <div class="flex-cont tal">
                <div>宝宝取名</div>
                <div>订单号：156483</div>
            </div>
            <div class="flex-cont tar">
                <div>已支付</div>
                <div>2018-06-22:10:322</div>
            </div>
        </li>
        <li class="flex-box">
            <div class="flex-cont tal">
                <div>宝宝取名</div>
                <div>订单号：156483</div>
            </div>
            <div class="flex-cont tar">
                <div>已支付</div>
                <div>2018-06-22:10:322</div>
            </div>
        </li>
    </ul>
</div>
