
<style>
    .top-head-bar{padding:0.266rem;background-color:#e4625b}
    .top-head-bar-ico {width:1rem !important}
    .top-head-bar .top-head-bar-text{align-self:center}

</style>
<div>
    <div class="flex-box  top-head-bar">
        <div class="top-head-bar-ico tal"><i class="icon iconfont c-fff icon-arrow-left" style="display:none"></i></div>
        <div class="flex-cont top-head-bar-text c-fff rem18">您测算的结果</div>
        <div class="top-head-bar-ico tal"><img  src="~/Content/images/closeicon.png" /></div>
    </div>
        
        <div class="prContent"></div>
</div>