@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "预测支付";
}
@section styles{
    <style type="text/css">
        body{background-color:#fcf6f5!important}
        .babyNameContent{margin:0.1rem 0.51rem 0rem 0.51rem}
        .babyMess{}
         .topFont{font-family:"Microsoft YaHei";color:#5d3026}
        .payMess{}
        .alipay{width:7rem !important}
        li{line-height:0.6rem;font-family:"Microsoft YaHei";color:#474747}
        .alipay img{ width:1rem}
            .alipay span {position:relative;top:0.2rem;vertical-align:top}
             .alipay-button{background-color:#e4625b!important;border-radius:5px}
             .comlineHeight{line-height: 0.6rem}
             .fontColor{color:#737373;font-family:"Microsoft YaHei"}
             .payCount{color:#474747}

      
    </style>
    }
@Html.Partial("_PartialHead")
<div>
    <div class="babyNameContent babyMess mb13 pd10x0">
        <div class="rem20 mt15 mb10 topFont">宝宝信息</div>
        <ul class="rem16 mt15">
            <li class="flex-box mb5"><div class="flex-cont wd35 tal">宝宝姓氏</div><div class="flex-cont tal">陈</div></li>
            <li class="flex-box mb5"><div class="flex-cont wd35 tal">性别</div><div class="flex-cont tal">男</div></li>
            <li class="flex-box mb5"><div class="flex-cont wd35 tal">出生日期</div><div class="flex-cont tal">陈</div></li>
            <li class="flex-box"><div class="flex-cont wd35 tal">备注信息</div><div class="flex-cont tal">陈</div></li>
        </ul>
    </div>
    <div class="mb10" style="height:0.25rem;background-color:#e2dfd3"></div>
    <div class="payMess babyNameContent">
        <div class="rem20 mb13  tal topFont">支付价格</div>
        <div class="flex-box rem16 mb20  payCount">
            <div class="flex-cont tal comlineHeight ">
                <div class="mb5">限时88元</div>
                <div>原价150元</div>
            </div>
            <div class="flex-cont tar comlineHeight">
                <div class="mb5">距优惠介绍还剩</div>
                <div>12：21：55</div>
            </div>
        </div>
        <div class="flex-box mt15 mb5">
            <div class="flex-cont ag-self  alipay">
                <img src="~/Content/images/alipay.png" />
                <span class="rem16 fontColor" style="color:#474747">支付宝支付</span>
            </div>
            <div class="flex-cont tar ag-self"><button class="rem18 pd10x20 c-fff alipay-button " onclick="stayCustomer()">立即支付</button></div>
        </div>
        <div class="tar rem14 fontColor" style="padding-right:0rem">支付后自动跳转测算成功页面</div>

    </div>
</div>
<!--挽留用户弹出层begin-->
<style type="text/css">
      #cover { position: absolute;left: 0px;top: 0px; background: rgba(0, 0, 0, 0.4);width: 100%;  height: 100%; filter: alpha(opacity=60);opacity: 0.6;  display: none;z-Index: 999;}
        #customerStay {position: absolute;width: 80%; border-radius:0.12rem;left:10%;top: 20%; background-color: #fff; display: none; cursor: pointer;z-Index: 9999;}
        .customerStayTop{padding:0.445rem;background:url(../Content/images/babyStay.png);background-size:100% 100%; }
        .customerStayContentTop{}
        .customerStayContentContent{}
        .customerStayContentButton{width:80%;background-color:#e4625b;border-radius:0.12rem;margin:auto}
        .commLineHeight{line-height:0.7rem}
</style>
<div id="cover"></div>

<div id="customerStay">
    <div class="flex-box  top-head-bar" style="border-top-left-radius:0.12rem;border-bottom-right-radius:0.12rem">
        <div class="top-head-bar-ico tal"><i class="icon iconfont c-fff icon-arrow-left" style="display:none"></i></div>
        <div class="flex-cont top-head-bar-text c-fff rem16">您测算的结果</div>
        <div class="top-head-bar-ico tal"><img style="width:0.6rem" onclick="hideCustomer()" src="~/Content/images/closeicon.png" /></div>
    </div>

    <div class="prContent pd10x20">
        <div class="customerStayTop mb10">
            <div class="flex-box commLineHeight"><div class="flex-cont">姓名：马季奇</div><div class="flex-cont">性别：男</div></div>
            <div class="tal rem14 commLineHeight" style="padding-left:0.4rem">1992年05月02</div>
        </div>
        <div class="mt05 tac">
            <div class="customerStayContentTop rem16 tal">五行分析：</div>
            <div class="customerStayContentContent rem15 mb20 tal">
                在css3之前，要实现圆角的效果可以通过图片或者用margin属性实现(可以参考这里
                程很繁琐，但CSS3的到来简化了实现圆角的方式。
            </div>
            <button class="customerStayContentButton c-fff pd10x20 mb20 rem16 " onclick="hideCustomer()">付费后查看更多</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function stayCustomer() {
        cover.style.display = "block";   //显示遮罩层
        customerStay.style.display = "block";
    }
    function hideCustomer() {
        cover.style.display = "none";   //显示遮罩层
        customerStay.style.display = "none";
        window.location.href = "../PayResult/EightGoodWordResult";
    }
</script>
<!--挽留用户弹出层end-->


