@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "预测支付";
}
@section styles{
    <style type="text/css">
        body{background-color:#fcf6f5!important}
        .babyNameContent{margin:0.1rem 0.51rem 0rem 0.51rem}
        .babyMess{}
         .topFont{font-family:"Microsoft YaHei";color:#5d3026}
        .payMess{}
        .alipay{width:7rem !important}
        li{line-height:0.6rem;font-family:"Microsoft YaHei";color:#474747}
        .alipay img{ width:1rem}
            .alipay span {position:relative;top:0.2rem;vertical-align:top}
             .alipay-button{background-color:#e4625b!important;border-radius:5px}
             .comlineHeight{line-height: 0.6rem}
             .fontColor{color:#737373;font-family:"Microsoft YaHei"}
             .payCount{color:#474747}
    </style>
    }
@Html.Partial("_PartialHead")
<div>
    <div class="babyNameContent babyMess mb13 pd10x0">
        <div class="rem20 mt15 mb10 topFont">宝宝信息</div>
        <ul class="rem16 mt15">
            <li class="flex-box mb5"><div class="flex-cont wd35 tal">宝宝姓氏</div><div class="flex-cont tal">陈</div></li>
            <li class="flex-box mb5"><div class="flex-cont wd35 tal">性别</div><div class="flex-cont tal">男</div></li>
            <li class="flex-box mb5"><div class="flex-cont wd35 tal">出生日期</div><div class="flex-cont tal">陈</div></li>
            <li class="flex-box"><div class="flex-cont wd35 tal">备注信息</div><div class="flex-cont tal">陈</div></li>
        </ul>
    </div>
    <div class="mb10" style="height:0.25rem;background-color:#e2dfd3"></div>
    <div class="payMess babyNameContent">
        <div class="rem20 mb13  tal topFont">支付价格</div>
        <div class="flex-box rem16 mb20  payCount">
            <div class="flex-cont tal comlineHeight ">
                <div class="mb5">限时88元</div>
                <div>原价150元</div>
            </div>
            <div class="flex-cont tar comlineHeight">
                <div class="mb5">距优惠介绍还剩</div>
                <div>12：21：55</div>
            </div>
        </div>
        <div class="flex-box mt15 mb5">
            <div class="flex-cont ag-self  alipay">
                <img src="~/Content/images/alipay.png" />
                <span class="rem16 fontColor" style="color:#474747">支付宝支付</span>
            </div>
            <div class="flex-cont tar ag-self"><button class="rem18 pd10x20 c-fff alipay-button ">立即支付</button></div>
        </div>
        <div class="tar rem14 fontColor" style="padding-right:0rem">支付后自动跳转测算成功页面</div>

    </div>
</div>

