@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style type="text/css">
        .babyNameForecastResult{margin:0.1rem 0.51rem 0rem 0.51rem}
    </style>
    }
@Html.Partial("_PartialHead")
<div class="babyNameForecastResult m">
    <div class="rem20 tal">名字：<span>李大钊</span></div>
    <div class="rem16">五行分析：</div>
    <div class="rem14">七个开发人员，两个月，融资一个亿，创业公司像飞机，
    速度够快才能起飞，通过现有的云端资源，我们才能快速地让我们的产品落地，
    才能让企业野蛮生长，通过阿里云，普通的创业者也能拥有和五百强企业一样的计算资源，
    和大企业同台竞争，让创业进入快消时代。</div>
</div>

