@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "八字详批测算结果";
}
@Html.Partial("_PartialHead")
@section Styles{  
    <style type="text/css">
        .payContent{background-color:#f5f2e6;min-height:88vh;padding-bottom:1rem}
        .payContent .payCount{border-bottom:2px solid #eaeaea}
        .mt05{margin-top:0.5rem}
        .pt05{padding-top:0.5rem}
        .payback-know-top{width:3rem;height:1rem;line-height:1rem}
        .payback-know-content{}
        .payback-know-content .item{line-height:1rem;width:93%;margin:0px auto;border-radius:0.12rem;margin-top:0.31rem}
            .payback-know-content .item img{width:0.75rem;line-height:1rem;position:relative;top:0.152rem}
            .gray{background-color:#e2dfd3}
            strong{font-weight:400;font-size:0.25rem}
        #cover { position: absolute;left: 0px;top: 0px; background: rgba(0, 0, 0, 0.4);width: 100%;  height: 100%; filter: alpha(opacity=60);opacity: 0.6;  display: none;z-Index: 999;}
        #customerStay {position: absolute;width: 80%; border-radius:0.12rem;left:10%;top: 20%; background-color: #fff; display: none; cursor: pointer;z-Index: 9999;}
        .customerStayTop{padding:0.445rem;background:url(../Content/images/eightMarry_03.png);background-size:100% 100%;background-color:#f4e2d1 }
        .customerStayContentTop{}
        .customerStayContentContent{}
        .customerStayContentButton{width:80%;background-color:#e4625b;border-radius:0.12rem;margin:auto}
        .commLineHeight{line-height:0.7rem}
        .backGray{background-color:#EAEAEA}
        img{width:20px !important }
        #eightLove img {display:none}
        #eightMoney img{display:none}
        #eightHealth img{display:none}
        #eightHealth p:last-child{display:none}
        
    </style>
}
<link href="~/Content/BaseJs/layer/mobile/need/layer.css" rel="stylesheet" />
<script src="~/Content/BaseJs/jquery.js"></script>
<script src="~/Content/BaseJs/layer/layer.js"></script>
<div>
    <div class="payback-know-content ">
        <div class="layui-tab layui-tab-card" style="margin:0px">
            <ul class="layui-tab-title">
                <li class="layui-this">八字命盘</li>
                <li>五行分析</li>
                <li>八字分析</li>
                <li>八字算命爱情</li>
                <li>八字算命财运</li>
                <li>八字算命健康</li>
            </ul>
            <div class="layui-tab-content" style="min-height:100vh">
                <div class="layui-tab-item layui-show" id="eightfate">
                    
                </div>
                <div class="layui-tab-item" id="fiveXing">2</div>
                <div class="layui-tab-item" id="eightWord">3</div>
                <div class="layui-tab-item" id="eightLove">4</div>
                <div class="layui-tab-item" id="eightMoney">5</div>
                <div class="layui-tab-item" id="eightHealth">6</div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function (){
            init();
        })

        function init() {
            var key = getQueryString("orderId");
            var query = {
                UserName: "大傻逼",
                BirthDay: "2018-07-27T02:06:03.236Z",
                IsMan: true
            };
            doPost(bmApI.fortunEightGoodWord.forecast, query, function (data) {
                if (data.ReturnCode.Code == 0) {
                    var content = data.Content;
                    $("#eightfate").html(content.Natal);
                    $("#fiveXing").html(content.Five);
                    $("#eightWord").html(content.Destiny);
                    $("#eightLove").html(content.Love);
                    $("#eightMoney").html(content.Money);
                    $("#eightHealth").html(content.Healthy);
                    $("#eightLove table").removeAttr("width");
                    $("#eightMoney table").removeAttr("width");
                }
                else {
                    layer.msg(data.ReturnCode.Message);
                }
            });
        }

        function showDetail(title, url) {
            //iframe层
            layer.open({
                type: 2,
                title: title,
                shadeClose: true,
                shade: 0.8,
                area: ['90%', '80%'],
                content: global_site_root + "ResultPart/" + url //iframe的url
            });
        }

</script>
    }


