@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var query = Request.QueryString["key"];
    ViewBag.Title = query;
}
@Html.Partial("_PartialHead")
@section Styles{
    <style type="text/css">
        .ReadDreamResult{min-height:90vh; background:url(..//Content/images/readDreamResult.jpg);background-size:100% 100%}
        .ReadDreamResult .top{ width:90% ;margin:0 auto;line-height:1rem; height:1rem; background:url(..//Content/images/readDreamResult_Top.png);background-size:100% 100%}
        .ReadDreamResult .content{width:90%;margin:0 auto  ;padding-top:0.6rem}
        img{max-width:100%!important}
        /*p{text-align:center!important}*/
    </style>
    }
<div class="ReadDreamResult" style="padding:0.5333rem 0.12666rem">
    <div class="top rem18 tac mb20">@ViewBag.Title</div>
    <div class="content ">
        <div class="rem16" style="color:#5b0100;margin-bottom:0.15rem">解梦结果:</div>
        <div class="rem15">
            <h3>周公解梦关于<font color="red">“梦见观音菩萨”</font>的解释：</h3><p>梦见观音菩萨可以说是一件很令人心情舒畅的事情，因为观音菩萨本身代表的就是大慈大悲的心境和对于虔诚信奉者心愿的聆听和帮助愿望实现，所以梦见观音菩萨就说明自己心地善良，心态平和。即使不能像观音菩萨一样达观世间吧，最起码可以做到心中有佛。总得来说梦见观音菩萨，是个很吉祥的梦。说明了梦者是个心地善良的人，而且最近一段时间的心态是比较平和的。如果是男性朋友梦见了观音菩萨的话，预示着你的事业或者工作成功在即或者是顺顺利利。</p><img src='http://rgb366.99166.com/UpLoadFile/UploadFile/201695173949648.jpg' /><p>&nbsp;</p><p><storng>&nbsp;&nbsp;&nbsp; 不同人梦见观音菩萨</strong></p><p>　　<storng>男人</strong>梦见观音菩萨，预示事业成功。</p><p>　　<storng>女人</strong>梦见观音菩萨，表示生活如意。</p><p>　　<storng>孕妇</strong>梦见观音菩萨，这个梦是非常吉祥的梦境，喻示着将会生下一个聪明、善良、又有出息的宝宝。</p><p>梦见拜观音菩萨，是精神力量的象征，平常多行善积德，定会有不错的回报。</p><p>梦见观音菩萨，表明梦者心地善良，心态平和。</p><p><storng>梦见和观音菩萨说话：</strong></p><p>梦见和观音菩萨说话，通常是暗示因为生活中碰到困难或迷惑，希望得到指引与帮助。也表示希望与神灵沟通，帮助你解决掉生活中的不顺。</p><p><storng>梦见观音菩萨和我说话了：</strong></p><p>梦见观音菩萨和我说话了，做此梦你应该感到荣幸，并不是所有人都有缘份能梦到菩萨。大慈大悲的菩萨是最为善良，最能体谅人间疾苦的一位。如果你能梦到，说明你应该也是有爱心或是心眼好的人。即使在梦中没有听到菩萨说什么，但只要用心去体会，不管以后遇到什么事，更要用善良和真诚帮助他人的信念去做每件事。多做好事，公益的事情。不用是很大很多。但只要持之以恒的从生活中的小事做起，最终收获更多的也是自己。　 周公解梦大全</p><p><storng>梦见拜观音菩萨：</strong></p><p>梦见拜观音菩萨，这个梦体现了你对观音菩萨的虔诚，内心积极向善，梦中出现的菩萨，是精神力量的象征，代表内心飘浮的信念与希望。你希望自己能在做某事或者在自己困惑的时候，得到观音菩萨的启发和指示，帮助自己实现愿望或者渡过难关。</p><p><storng>&nbsp;&nbsp;&nbsp; 不同人梦见观音菩萨</strong></p><p>　　<storng>男人</strong>梦见观音菩萨，预示事业成功。</p><p>　　<storng>女人</strong>梦见观音菩萨，表示生活如意。</p><p>　　<storng>孕妇</strong>梦见观音菩萨，这个梦是非常吉祥的梦境，喻示着将会生下一个聪明、善良、又有出息的宝宝。</p><p>梦见拜观音菩萨，是精神力量的象征，平常多行善积德，定会有不错的回报。</p><p>梦见观音菩萨，表明梦者心地善良，心态平和。</p><p><storng>梦见和观音菩萨说话：</strong></p><p>梦见和观音菩萨说话，通常是暗示因为生活中碰到困难或迷惑，希望得到指引与帮助。也表示希望与神灵沟通，帮助你解决掉生活中的不顺。</p><p><storng>梦见观音菩萨和我说话了：</strong></p><p>梦见观音菩萨和我说话了，做此梦你应该感到荣幸，并不是所有人都有缘份能梦到菩萨。大慈大悲的菩萨是最为善良，最能体谅人间疾苦的一位。如果你能梦到，说明你应该也是有爱心或是心眼好的人。即使在梦中没有听到菩萨说什么，但只要用心去体会，不管以后遇到什么事，更要用善良和真诚帮助他人的信念去做每件事。多做好事，公益的事情。不用是很大很多。但只要持之以恒的从生活中的小事做起，最终收获更多的也是自己。　 周公解梦大全</p><p><storng>梦见拜观音菩萨：</strong></p><p>梦见拜观音菩萨，这个梦体现了你对观音菩萨的虔诚，内心积极向善，梦中出现的菩萨，是精神力量的象征，代表内心飘浮的信念与希望。你希望自己能在做某事或者在自己困惑的时候，得到观音菩萨的启发和指示，帮助自己实现愿望或者渡过难关。</p><h3>周公解梦关于<font color="red">“梦见观音菩萨”</font>的相关梦境及解释：</h3><p>梦中的菩萨代表着佛缘，多行善必有好报。在佛教而言，任何一位菩萨，都是世间的大福星，能给人们带来真正的幸福。</p><img src='http://rgb366.99166.com/UpLoadFile/UploadFile/2016927175141779.jpg' /><p>&nbsp;</p><p>　　梦见<storng>菩萨</strong>，是长寿的预兆。</p><p>　　<storng>病人</strong>梦见菩萨，身体会很快康复。</p><p>　　<storng>老人</strong>梦见菩萨，身体会健康长寿。</p><p>　　梦见<storng>菩萨笑了</strong>，你会认识一些新朋友，并会有不错的发展。今天你说话得体，容易获得异性青睐。对小钱别太计较，以免被认为小<a href="2191_99166jm48.html" target="_blank" class="jmnl" onmouseover="openNewDiv(48,this);return false;" onmouseout="Judge();return false;">家</a>子气。如果你有什么事情要做的，今天会很容易得到他人的协助与配合。</p><p>　　梦到<storng>拜菩萨</strong>，预示着自己生活中遇到困难，不过会有<a href="2191_99166jm2957.html" target="_blank" class="jmnl" onmouseover="openNewDiv(2957,this);return false;" onmouseout="Judge();return false;">贵人</a>相助。</p><h3>周公解梦关于<font color="red">“梦见观音菩萨”</font>的心理学解梦：</h3><p>梦见观音菩萨，是吉祥与幸福的象征。观音菩萨的化身被称为送子观音，所以，一般人求子都是求观音。梦中的观音菩萨，这个梦境是对现实的预料或者说是一种忠告。在彿教中，观世音被认为是救苦救难的菩萨。依照解梦来说确实是个吉祥的好兆头，有菩萨即有福，说明你最近要转运福气临门了，不过不管怎么样，万事都有因果，积德行善的人才会有好报，你现在就算福气来了还是要行善，否则福报享尽了噩运就会将至。</p><h3>周公解梦关于<font color="red">“梦见观音菩萨”</font>的案例分析：</h3><p><storng>梦境描述：</strong></p><p>晚上做梦，梦见了观音菩萨。怎么解？</p><p><storng>梦境解析：</strong></p><p>梦见观音菩萨，这个梦境是对现实的预料或者说是一种忠告。</p><p>按照古老周公解梦的说法：梦见观音菩萨可以说是一件很令人心情舒畅的事情，因为观音菩萨本身代表的就是大慈大悲的心境和对于虔诚信奉者心愿的聆听和帮助愿望实现，所以梦见观音菩萨就说明自己心地善良，心态平和。即使不能像观音菩萨一样达观世间吧，最起码可以做到心中有佛。</p><p><storng>按照现代周公解梦的说法：梦见观音菩萨则还要分男女的。下面就较为详细的来说一下梦见观音菩萨，是怎么一回事?</strong></p><p>总得来说梦见观音菩萨，是个很吉祥的梦。说明了梦者是个心地善良的人，而且最近一段时间的心态是比较平和的。如果是男性朋友梦见了观音菩萨的话，预示着你的事业或者工作成功在即或者是顺顺利利。如果是女性朋友梦见了观音菩萨，预示着你的生活会是吉祥如意的，毕竟没有什么比吉祥如意更让人感到幸福的了。</p>
        </div>
    </div>
</div>

