@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var query = Request.QueryString["keyValue"];
    ViewBag.Title = query;
}
@Html.Partial("_PartialHead")
@section Styles{
    <style type="text/css">
        .ReadDreamResult{min-height:90vh; background:url(..//Content/images/readDreamResult.jpg);background-size:100% 100%}
        .ReadDreamResult .top{ width:90% ;margin:0 auto;line-height:1rem; height:1rem; background:url(..//Content/images/readDreamResult_Top.png);background-size:100% 100%}
        .ReadDreamResult .content{width:90%;margin:0 auto  ;padding-top:0.6rem}
        img{max-width:100%!important}
        /*p{text-align:center!important}*/
    </style>
    }
<div class="ReadDreamResult" style="padding:0.5333rem 0.012666rem">
    <div class="top rem18 tac mb20">@ViewBag.Title</div>
    <div class="content ">
        <div class="rem16" style="color:#5b0100;margin-bottom:0.15rem">解梦结果:</div>
        <div class="rem15" id="databox">
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var key = getQueryString_Chenese("key");
            var query = {
                dreamId: key
            };
            doGet(bmApI.fortunDream.itemDetail, query, function (data) {
                if (data.ReturnCode.Code == 0) {
                    var content = data.Content;
                    $("#databox").html(content);
                }
                else {
                    layer.msg(data.ReturnCode.Message);
                }
            });
        })
    </script>
}

