<style>
    .fate{background:url(../Content/images/fateResult.jpg);min-height:100vh; background-size:100% 100%;background-color:#f4e2d1 }
    .fateTop{}
    .fateContent{}
</style>

<div class="fate pd10x20">
    <div class="rem16 fadeRed mb10">八字论命结果</div>
    <div class="rem15">



    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var data = JSON.parse(bm_getlocalStorage("forecastData"));
            var code = data.ReturnCode.Code;
            if (code == 0) {
                alert(code);
            }

        })


    </script>
    
    }
