<style>
    .fate{background:url(../Content/images/fateResult.jpg);min-height:100vh; background-size:100% 100%;background-color:#f4e2d1 }
    .fateTop{}
    .fateContent{}
</style>

<div class="fate pd10x20">
    <div class="rem16 fadeRed mb10">八字论命结果</div>
    <div class="rem15">积极是一个汉语词汇，拼音是jī jí，意思是肯定的；正面的；促进发展的；努力进取的；热心的。语出郭沫若《洪波曲》第五章三：“从积极方面来说，歌咏可以团结自己的力量。”</div>
</div>
